app:
  error:
    include-exception-details: true

  cors:
    allowed-origins: ${CORS_ALLOWED_ORIGINS:http://localhost:3000}

server:
  port: 8080
# 방어적 설정(예외 처리 누락 시에도 stacktrace 응답 방지)   
  error:
    include-stacktrace: never

spring:

  application:
    name: attandence-app

  devtools:
    livereload:
      enabled: true
    restart:
      enabled: true

  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB

  datasource:
    url: jdbc:h2:mem:attendanceapp-db
    driver-class-name: org.h2.Driver
    username: sa
    password:

  h2:
    console:
      enabled: true
      path: /h2-console

  sql:
    init:
      mode: always
      data-locations: classpath:data-dev.sql

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    defer-datasource-initialization: true